In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('owid-covid-data.csv')

In [4]:
df[df['iso_code'] == 'USA']

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
380767,USA,North America,United States,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,24.6,NaN,2.77,78.86,0.926,338289856.0,-2771.0,-4.41,-4.41,-8.248447
380768,USA,North America,United States,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,24.6,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN
380769,USA,North America,United States,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,24.6,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN
380770,USA,North America,United States,2020-01-08,NaN,0.0,NaN,NaN,0.0,NaN,...,24.6,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN
380771,USA,North America,United States,2020-01-09,NaN,0.0,NaN,NaN,0.0,NaN,...,24.6,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382366,USA,North America,United States,2024-05-22,103436829.0,NaN,NaN,1187955.0,0.0,40.714,...,24.6,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN
382367,USA,North America,United States,2024-05-23,103436829.0,NaN,NaN,1187955.0,0.0,40.714,...,24.6,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN
382368,USA,North America,United States,2024-05-24,103436829.0,NaN,NaN,1187955.0,0.0,40.714,...,24.6,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN
382369,USA,North America,United States,2024-05-25,103436829.0,NaN,NaN,1187955.0,0.0,40.714,...,24.6,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN
382370,USA,North America,United States,2024-05-26,103436829.0,NaN,NaN,1188195.0,240.0,34.286,...,24.6,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN